body{ 
background-color: #eab65a;
width: 75%;
margin-left: auto;
margin-right: auto;
}

a{
color:#FFF;
}

a[href^="mailto:"]{
color:#FFF;
}

a:visited{
color:#FFF;
}

a:hover{
color:#FFF;
background-color: #6556bc;
}

h1{
color: white;
font-size: 2rem;
font-family: futura, sans-serif;
font-weight: lighter;
}

p{
color: white; font-size: 2rem;
font-family: futura, sans-serif;
}

.top{
background-color: #ed8144;
width:;
padding:3rem;
border-style: dashed;
border-width:1rem;
border-color: #6556bc;
}

.intro{
background-color:#fff
padding: 1rem;
}

.intro_left{
float: left;
width: 50%;
background-color:#6556BC;
}

.intro_right{
float: right;
width: 50%;
background-color: #e25667;
}

.intro_right h1{
padding-left: 2rem ;
}

.intro_left img{
width: 75%;
display: block;
margin-left: auto;
margin-right: auto;
}  